
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Organizator student</h2>

<div>
    <asp:HyperLink href="#namedAnchor" runat="server">Conventie</asp:HyperLink>

</div>

